<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-toolbar>
    <span>Frontend Engineer Form</span>
  </mat-toolbar>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput/>
    @if (nameIsInvalid) {
      <mat-error>Please enter a valid name.</mat-error>
    }
  </mat-form-field>


  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input formControlName="lastName" matInput/>
    @if (lastNameIsInvalid) {
      <mat-error>Please enter a valid last name.</mat-error>
    }
  </mat-form-field>


  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input [formControl]="form.controls.dateOfBirth" [matDatepicker]="picker" matInput>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (dateOfBirthIsInvalid) {
      <mat-error>Please enter a valid date of birth.</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Frontend Technology</mat-label>
    <select #frontendTechnology formControlName="frontendTechnology" matNativeControl required>
      @for (technology of frontendTechnologies; track $index) {
        <option [value]="technology">{{ technology.charAt(0).toUpperCase() + technology.slice(1) }}</option>
      }
    </select>
    @if (frontendTechnologyIsInvalid) {
      <mat-error>Please choose a frontend technology.</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ frontendTechnology?.value ? 'Frontend Technology Version' : 'First select a frontend technology' }}</mat-label>
    <select formControlName="frontendTechnologyVersion" matNativeControl required>
      @for (technologyVersion of frontendTechnologyVersions; track $index) {
        <option [value]="technologyVersion">{{ technologyVersion }}</option>
      }
    </select>
    @if (frontendTechnologyVersionIsInvalid) {
      <mat-error>Please choose a frontend technology version.</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Ex. pat@example.com"
           type="email">
    @if (form.controls.email.hasError('notUnique')) {
      <mat-error>Please enter an unique email address.</mat-error>
    } @else if (emailIsInvalid) {
      <mat-error>Please enter a valid email address.</mat-error>
    }
  </mat-form-field>

  <!-- Hobbies Input -->
  <div formArrayName="hobbies">
    @for (hobby of hobbies.controls; track $index) {
      <div [formGroupName]="$index">
        <mat-form-field>
          <mat-label>Hobby Name</mat-label>
          <input matInput formControlName="name" placeholder="e.g. Football"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hobby Duration</mat-label>
          <input matInput formControlName="duration" placeholder="e.g. 2 months"/>
        </mat-form-field>

        <button mat-icon-button (click)="removeHobby($index)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    }

    <button (click)="addHobby()" mat-raised-button type="button">Add Hobby</button>
    @if (hobbiesIsInvalid) {
      <mat-error> Please add at least one hobby.</mat-error>
    }
  </div>

  <button mat-stroked-button [disabled]="form.invalid">Send</button>
</form>
